html {
  --color-brand-primary: #ff7100;
  --color-background: #f6f6f6;
  --color-text: #222222;
  --color-border: #cccccc;

  --font-family: 'Source Sans Pro';
  --font-family-headline: 'Lora';

  --width-sidebar: 300px;
}
